<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><video id="localStream" width="300" controls></video></div>
    <div>
        My token
        <br />
        <textarea rows="3" cols="50" id="txtMySignal"></textarea>
    </div>
    <br />
    <br />
    <div>
        Friend token
        <br />
        <textarea rows="3" cols="50" id="txtFriendSignal"></textarea>
        <button id="btnConnect">Connect</button>
    </div>
<script src="/bundle.js"></script>
</body>
</html>