<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <video id="localStream" width="300" controls></video>
<script>
    navigator.mediaDevices.getUserMedia({video: true, audio: false})
    .then(stream => {
        console.log(stream)
        const video = document.querySelector('#localStream')
        video.srcObject = stream
        video.onloadedmetadata = () => {
            video.play()
        }
    })
    .catch(error => console.log(error))
</script>

</body>
</html>